.DS_Store
__pycache__/
**/uploads/*
**/static/img/*.jpg
**/output/*.csv
*.pyc
*.db
todo.csv
.idea/misc.xml
.idea/modules.xml
.idea/sesac_python.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
4.python/5.modules/sesac1234/a.txt
4.python/5.modules/sesac1234/b.txt
4.python/real_examples/cat1.jpg
4.python/real_examples/data.csv
