body {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    background: url(../img/bg-signin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #004279;
}

.container {
    margin-top: 150px;
    width: 500px;
    padding:20px;
    border-radius: 15px;
    border: 1px solid rgba(240, 248, 255, 0.192);
    background-color: #ffffff49;
    backdrop-filter: blur(15px);
    filter: drop-shadow(2px 4px 6px #666)
}

.label {
    display:none;
}

.input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 40px;
    box-sizing: border-box;
    background: none;
    border:none;
    border-bottom: 1px solid aliceblue;
    color:#004279
}

.input::placeholder {
    color:#0043797a
}

.input:focus {
    outline: none;
    border-bottom: 1px solid aliceblue;
    caret-color: aliceblue;
}

.btn-submit {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #a1d7fc;
    color:#004279;
    border:1px solid aliceblue;
    font-weight: 800;
}

.btn-submit:hover {
    background: linear-gradient(#a1d7fc, 80%, #01b1ec);
}

hr {
    display: none;
}

h3, .support {
    text-align: center;
}

a {
    text-decoration: none;
    color: #0043797e;
}
a:hover {
    color: #004379;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}