header {
    text-align:center;
}

img {
    height:220px;
}
h2{
    display: inline;
}
section{
    display: flex;
    align-items:center;
    justify-content:center;
}

a, span {
    margin-left: 20px;
    margin-right: 20px;
}

span {
    color:#ddd;
}

table {
    width: 80%;
}

th {
    border: 1px solid #000;
    width: 14%;
    background-color: aliceblue;
    height: 35px;
}

td {
    border: 1px solid #000;
    text-align:center;
    height: 35px;
}
.calendar{
    display: flex;
    justify-content: center;
    align-items:center;
}
.sun, .holiday {
    color:red;
}

.sat {
    color:blue;
}

.notmonth {
    color:#ddd;
}