<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM</title>
    <link rel="stylesheet" href="{{url_for('static', filename='crm.css')}}">
</head>
<body>
    <nav>
        <ul class="gnb">
            <li><a class="gnbItem" href="/users">Users</a></li>
            <li><a class="gnbItem" href="/stores">Stores</a></li>
            <li><a class="gnbItem" href="/orders">Orders</a></li>
            <li><a class="gnbItem" href="/orderitems">OrderItems</a></li>
            <li><a class="gnbItem" href="/items">Items</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>