<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='crm.css')}}">
</head>
<body>
    <nav>
        <ul class="gnb">
            <li><a class="gnbItem" href="{{url_for('users.list')}}">User</a></li>
            <li><a class="gnbItem" href="{{url_for('orders.list')}}">Order</a></li>
            <li><a class="gnbItem" href="/orderitems">OrderItem</a></li>
            <li><a class="gnbItem" href="{{url_for('stores.list')}}">Store</a></li>
            <li><a class="gnbItem" href="{{url_for('items.list')}}">Item</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>