<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM</title>
    <link rel="stylesheet" href="{{url_for('static', filename='crm.css')}}">
</head>
<body>
    <nav>
        <ul class="gnb">
            <li><a class="gnbItem" href="/users">고객정보</a></li>
            <li><a class="gnbItem" href="/orders">주문정보</a></li>
            <li><a class="gnbItem" href="/stores">매장정보</a></li>
            <li><a class="gnbItem" href="/items">상품정보</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>