{% extends 'base.html' %}
{% block title %}CRM - 상품 상세정보: {{item.Name}}{% endblock %}
{% block content %}
<a href="#" onclick="history.back()">&lt; 뒤로가기</a>

<h2>상품 정보</h2>
<p>상품 ID: {{item.ItemId}}</p>
<table>
    <thead>
        <tr>
            <th>상품명</th>
            <th>유형</th>
            <th>개당 가격</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{item.Name}}</td>
            <td>{{item.Type}}</td>
            <td>{{item.UnitPrice}}</td>
        </tr>
    </tbody>
</table>

<hr>

<h2>월간 매출액</h2>
<table>
    <thead>
        <tr>
            <th>기간</th>
            <th>매출 합계</th>
            <th>주문 횟수</th>
        </tr>
    </thead>
    <tbody>
        {% if sales %}
            {% for s in sales %}
            <tr>
                <td class="chartdata">{{s.OrderDate}}</a></td>
                <td class="chartdata">{{s.Sales}}</td>
                <td class="chartdata">{{s.SaleCount}}</td>
            </tr> 
            {% endfor %}
        {% else %}
            <tr><td colspan="3">매출 정보가 없습니다.</td></tr>          
        {% endif %}
    </tbody>
</table>
<canvas id="myChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let itemLabels = []
    let barValues = []
    let lineValues = []
    const dataArray = document.getElementsByClassName('chartdata')
    const ctx = document.getElementById('myChart')

    function drawchart() {
        for (i = 0; i < dataArray.length; i += 3) {
            itemLabels.push(dataArray[i].innerText);
            barValues.push(dataArray[i+1].innerText);
            lineValues.push(dataArray[i+2].innerText);
        }

        itemLabels.reverse();
        barValues.reverse();
        lineValues.reverse();

        const data = {
            labels: itemLabels,
            datasets: [{
                type: 'bar',
                label: '매출(원)',
                data: barValues,
                backgroundColor: '#6c848452',
                yAxisID: 'yleft'
            }, {
                type: 'line',
                label: '판매량(개)',
                data: lineValues,
                fill: false,
                borderColor: '#6c8484',
                borderWidth: 1,
                fill: false,
                tension:0.1,
                yAxisID: 'yright'
            }]
            };

            const config = {
            type: 'scatter',
            data: data,
            options: {
                aspectRatio:2.5,
                scales: {
                    yleft: {position: 'left'},
                    yright: {position:'right'}
                },
                plugins: {
                    tooltip: {
                        intersect:false
                    }
                }
            }
            };

        new Chart(ctx, config);
    }

    document.addEventListener('DOMContentLoaded', drawchart)
</script>
{% endblock %}