{% extends 'base.html' %}
{% block title %}CRM - 상품 목록{% endblock %}
{% block content %}
<table>
    <thead>
        <tr>
            <th class="idColumn">상품 ID</th>
            <th>유형</th>
            <th>상품명</th>
            <th>개당 가격</th>
        </tr>
    </thead>
    <tbody>
        {% for i in items %}
        <tr>
            <td><a href="/items/detail/{{i.Id}}">{{i.Id}}</a></td>
            <td>{{i.Type}}</td>
            <td>{{i.ItemName}}</td>
            <td>{{i.UnitPrice}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pagination">
    <ul class="pagination">
        {% if pages %}
            {% if currentPage == 1 %}
                <li class="pageNum"><a href="#">Prev</a></li>
                {% else %}
                <li class="pageNum"><a href="?page={{pages[0] - 1}}">Prev</a></li>
            {% endif %}
            {% for p in pages %}
                {% if p == currentPage %}
                    <li class="pageNum currentPage"><a href='?page={{p}}'>{{p}}</a></li>
                    {% else %}
                    <li class="pageNum"><a href='?page={{p}}'>{{p}}</a></li>
                {% endif %}
            {% endfor %}
            {% if currentPage == totalPage %}
                <li class="pageNum"><a href="#">Next</a></li>
                {% else %}
                <li class="pageNum"><a href="?page={{pages[-1] + 1}}">Next</a></li>
            {% endif %}
        {% endif %}
    </ul>
</div>
{% endblock %}