{% extends 'base.html' %}
{% block title %}CRM - 주문 목록{% endblock %}
{% block content %}
<table>
    <thead>
        <tr>
            <th class="idColumn">주문 ID</th>
            <th>구매일시</th>
            <th>매장명</th>
            <th>고객</th>
        </tr>
    </thead>
    <tbody>
        {% for o in orders %}
        <tr>
            <td><a href="/orders/detail/{{o.Id}}">{{o.Id}}</a></td>
            <td>{{o.OrderAt}}</td>
            <td><a href="/stores/detail/{{o.StoreId}}">{{o.StoreName}}</a></td>
            <td><a href="/users/detail/{{o.UserId}}">상세보기</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pagination">
    <ul class="pagination">
        {% if pages %}
            {% if currentPage == 1 %}
                <li class="pageNum"><a href="#">Prev</a></li>
                {% else %}
                <li class="pageNum"><a href="?page={{pages[0] - 1}}">Prev</a></li>
            {% endif %}
            {% for p in pages %}
                {% if p == currentPage %}
                    <li class="pageNum currentPage"><a href='?page={{p}}'>{{p}}</a></li>
                    {% else %}
                    <li class="pageNum"><a href='?page={{p}}'>{{p}}</a></li>
                {% endif %}
            {% endfor %}
            {% if currentPage == totalPage %}
                <li class="pageNum"><a href="#">Next</a></li>
                {% else %}
                <li class="pageNum"><a href="?page={{pages[-1] + 1}}">Next</a></li>
            {% endif %}
        {% endif %}
    </ul>
</div>
{% endblock %}