{% extends 'base.html' %}
{% block title %}CRM - 주문 목록{% endblock %}
{% block content %}
<table>
    <thead>
        <tr>
            <th class="idColumn">주문 ID</th>
            <th>구매일시</th>
            <th>매장명</th>
            <th>고객</th>
        </tr>
    </thead>
    <tbody>
        {% for o in orders %}
        <tr>
            <td><a href="{{url_for('orders.detail', id=o.Id)}}">{{o.Id}}</a></td>
            <td>{{o.OrderAt}}</td>
            <td><a href="{{url_for('stores.detail', id=o.StoreId)}}">{{o.StoreName}}</a></td>
            <td><a href="{{url_for('users.detail', id=o.UserId)}}">{{o.UserName}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pagination">
    <ul class="pagination">
        {% if pages %}
            {% if pages[0] - 1 < 1 %}
                <li class="pageNum disabled">Prev</li>
                {% else %}
                <li class="pageNum"><a href="{{url_for('orders.list', page=pages[0] - 1)}}">Prev</a></li>
            {% endif %}
            {% for p in pages %}
                {% if p == currentPage %}
                    <li class="pageNum currentPage">{{p}}</li>
                    {% else %}
                    <li class="pageNum"><a href="{{url_for('orders.list', page=p)}}">{{p}}</a></li>
                {% endif %}
            {% endfor %}
            {% if pages[-1] + 1 >= lastPage %}
                <li class="pageNum disabled">Next</li>
                {% else %}
                <li class="pageNum"><a href="{{url_for('orders.list', page=pages[-1] + 1)}}">Next</a></li>
            {% endif %}
        {% endif %}
    </ul>
</div>
{% endblock %}