{% extends 'base.html' %}
{% block title %}CRM - orderitems{% endblock %}
{% block content %}
<table>
    <thead>
        <tr>
            <th class="idColumn">ID</th>
            <th>주문ID<th>
            <th>상품ID</th>
        </tr>
    </thead>
    <tbody>
        {% for oi in orderitems %}
        <tr>
            <td>{{oi.Id}}</td>
            <td><a href="{{url_for('orders.order_detail',orderid=oi.OrderId)}}">{{oi.OrderId}}</a></td>
            <td><a href="{{url_for('items.item_detail',itemid=oi.ItemId)}}">/{{oi.ItemId}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pagination">
    <ul class="pagination">
        {% if pages %}
            {% if pages[0] - 1 < 1 %}
                <li class="pageNum disabled">Prev</li>
                {% else %}
                <li class="pageNum"><a href="{{url_for('orderitems.orderitem_list', page=pages[0] - 1)}}">Prev</a></li>
            {% endif %}
            {% for p in pages %}
                {% if p == currentPage %}
                    <li class="pageNum currentPage">{{p}}</li>
                    {% else %}
                    <li class="pageNum"><a href="{{url_for('orderitems.orderitem_list', page=p)}}">{{p}}</a></li>
                {% endif %}
            {% endfor %}
            {% if pages[-1] + 1 >= totalPage %}
                <li class="pageNum disabled">Next</li>
                {% else %}
                <li class="pageNum"><a href="{{url_for('orderitems.orderitem_list', page=pages[-1] + 1)}}">Next</a></li>
            {% endif %}
        {% endif %}
    </ul>
</div>
{% endblock %}