{% extends 'base.html' %}
{% block title %}CRM - 매장 목록{% endblock %}
{% block content %}

<form>
    <input type="search" placeholder="이름 또는 주소로 검색" name="q" value="{{q}}" id="q">
    <button type="submit">검색</button>
</form>

<table>
    <thead>
        <tr>
            <th class="idColumn">매장 ID</th>
            <th>유형</th>
            <th>매장명</th>
            <th>주소</th>
        </tr>
    </thead>
    <tbody>
        {% if stores %}
            {% for s in stores %}
            <tr>
                <td><a href="{{url_for('stores.detail', id=s.Id)}}">{{s.Id}}</a></td>
                <td>{{s.Type}}</td>
                <td>{{s.StoreName}}</a></td>
                <td>{{s.Address}}</a></td>
            </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="4" class="noResult">표시할 데이터가 없습니다<div><a href="#" onclick="history.back()">뒤로가기</a></div></td></tr>
        {% endif %}
    </tbody>
</table>
<div class="pagination">
    <ul class="pagination">
        {% if pages %}
            {% if pages[0] - 1 < 1 %}
                <li class="pageNum disabled">Prev</li>
                {% else %}
                <li class="pageNum"><a href="{{url_for('stores.list', page=pages[0] - 1, q=q)}}">Prev</a></li>
            {% endif %}
            {% for p in pages %}
                {% if p == currentPage %}
                    <li class="pageNum currentPage">{{p}}</li>
                    {% else %}
                    <li class="pageNum"><a href="{{url_for('stores.list', page=p, q=q)}}">{{p}}</a></li>
                {% endif %}
            {% endfor %}
            {% if pages[-1] + 1 >= lastPage %}
                <li class="pageNum disabled">Next</li>
                {% else %}
                <li class="pageNum"><a href="{{url_for('stores.store_list', page=pages[-1] + 1, q=q)}}">Next</a></li>
            {% endif %}
        {% endif %}
    </ul>
</div>
{% endblock %}