{% extends 'base.html' %}

{% block content %}

<form>
    <input placeholder="이름 또는 주소로 검색" name="q" value="{{q}}" id="q">
    <button type="submit">검색</button>
</form>

<table>
    <thead>
        <tr>
            <th class="idColumn">매장 ID</th>
            <th>유형</th>
            <th>매장명</th>
            <th>주소</th>
        </tr>
    </thead>
    <tbody>
        {% if stores %}
            {% for s in stores %}
            <tr>
                <td><a href="/stores/detail/{{s.Id}}">{{s.Id}}</a></td>
                <td>{{s.Type}}</td>
                <td>{{s.StoreName}}</a></td>
                <td>{{s.Address}}</a></td>
            </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="4" class="noResult">조건에 해당하는 매장이 없습니다<div><a href="#" onclick="history.back()">뒤로가기</a></div></td></tr>
        {% endif %}
    </tbody>
</table>
<div class="pagination">
    <ul class="pagination">
        {% if pages %}
            {% if currentPage == 1 %}
                <li class="pageNum"><a href="#">Prev</a></li>
                {% else %}
                <li class="pageNum"><a href="?q={{q}}&page={{pages[0] - 1}}">Prev</a></li>
            {% endif %}
            {% for p in pages %}
                {% if p == currentPage %}
                    <li class="pageNum currentPage"><a href='?q={{q}}&page={{p}}'>{{p}}</a></li>
                    {% else %}
                    <li class="pageNum"><a href='?q={{q}}&page={{p}}'>{{p}}</a></li>
                {% endif %}
            {% endfor %}
            {% if currentPage == lastPage %}
                <li class="pageNum"><a href="#">Next</a></li>
                {% else %}
                <li class="pageNum"><a href="?q={{q}}&page={{pages[-1] + 1}}">Next</a></li>
            {% endif %}
        {% endif %}
    </ul>
</div>
{% endblock %}