{% extends 'base.html' %}
{% block title %}CRM - 고객 목록{% endblock %}
{% block content %}
<form>
    <label for="name">이름: </label>
    <input type="search" placeholder="이름으로 검색" name="name" value="{{name}}" id="name">
    <label for="gender">성별: </label>
    <select name="gender" id="gender">
        <!-- 성별 필터링했을 때 어떻게 selected 상태 남겨줄건가??-->
        <option></option>
        {% if gender == 'Male' %}
            <option value="Male" selected>남성</option>
            <option value="Female">여성</option>
        {% elif gender == 'Female' %}
            <option value="Male">남성</option>
            <option value="Female" selected>여성</option>
        {% else %}
            <option value="Male">남성</option>
            <option value="Female">여성</option>
        {% endif %}
    </select>
    <button type="submit">검색</button>
</form>

<table>
    <thead>
        <tr>
            <th class="idColumn">ID</th>
            <th>이름</th>
            <th>성별</th>
            <th>연령</th>
            <th>생일</th>
        </tr>
    </thead>
    <tbody>
        {% if not users %}
        <tr><td colspan="5" class="noResult">표시할 데이터가 없습니다<div><a href="#" onclick="history.back()">뒤로가기</a></div></td></tr>
        {% else %}
            {% for u in users %}
            <tr>
                <td><a href="{{url_for('users.detail',id=u.Id)}}">{{u.Id}}</a></td>
                <td>{{u.Name}}</td>
                <td>{{u.Gender}}</td>
                <td>{{u.Age}}</td>
                <td>{{u.Birthdate}}</td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
<div class="pagination">
    <ul class="pagination">
        {% if pages %}
            {% if pages[0] - 1 < 1 %}
                <li class="pageNum disabled">Prev</li>
                {% else %}
                <li class="pageNum"><a href="{{url_for('users.list', page=pages[0] - 1, name=name, gender=gender)}}">Prev</a></li>
            {% endif %}
            {% for p in pages %}
                {% if p == currentPage %}
                    <li class="pageNum currentPage">{{p}}</li>
                    {% else %}
                    <li class="pageNum"><a href="{{url_for('users.list', page=p, name=name, gender=gender)}}">{{p}}</a></li>
                {% endif %}
            {% endfor %}
            {% if pages[-1] + 1 >= totalPage %}
                <li class="pageNum disabled">Next</li>
                {% else %}
                <li class="pageNum"><a href="{{url_for('users.list', page=pages[-1] + 1, name=name, gender=gender)}}">Next</a></li>
            {% endif %}
        {% endif %}
    </ul>
</div>
{% endblock %}