{% extends 'base.html' %}

{% block content %}
<form>
    <label for="name">이름: </label>
    <input placeholder="고객 이름 입력" name="name" value="{{name}}" id="name">
    <label for="gender">성별: </label>
    <select name="gender" id="gender">
        <!-- 성별 필터링했을 때 어떻게 selected 상태 남겨줄건가??-->
        <option></option>
        <option value="Male">남성</option>
        <option value="Female">여성</option>
    </select>
    <button type="submit">검색</button>
</form>

<table>
    <thead>
        <tr>
            <th class="idColumn">ID</th>
            <th>이름</th>
            <th>성별</th>
            <th>연령</th>
            <th>생일</th>
        </tr>
    </thead>
    <tbody>
        {% if not users %}
        <tr><td colspan="5" class="noResult">조건에 해당하는 사용자가 없습니다<div><a href="#" onclick="history.back()">뒤로가기</a></div></td></tr>
        {% else %}
            {% for u in users %}
            <tr>
                <td><a href="/users/detail/{{u.Id}}">{{u.Id}}</a></td>
                <td>{{u.Name}}</td>
                <td>{{u.Gender}}</td>
                <td>{{u.Age}}</td>
                <td>{{u.Birthdate}}</td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
<ul id="pagenation">
    {% if currentpage - 1 < 1 %}
    <li>이전</li>
    {% else %}
    <li><a href="?name={{name}}&gender={{gender}}&page={{currentpage - 1}}">이전</a></li>
    {% endif %}
    <li class="currentPage">{{currentpage}}</li>
    <li><a href="?name={{name}}&gender={{gender}}&page={{currentpage + 1}}">다음</a></li>
</ul>
{% endblock %}