
.gnb {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    margin:0;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #212121;
    position: fixed;
    left:0;
    width:100%;
}

.gnbItem {
    color:#fff;
    text-decoration: none;
}
.idColumn {
    width:40%;
}
.pagination {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}
.pageNum {
    border-right: 1px solid #bbb;
    padding: 5px 15px;
}
.disabled {
    color: #ddd;
}

.pageNum:last-of-type {
    border-right: none;
}
.currentPage {
    background-color: #212121;
    color:#fff;
    font-weight: 700;
}
.noResult {
    padding: 10px 0px;
}
.additional {
    list-style-type: disc;
}

.userStatistics {
    padding-left:25px;
}
#tableOverflow {
    height: 265px;
    overflow-y: auto;
}

body {
    max-width: 1100px;
    margin:auto;
    margin-top:0px;
    box-sizing: border-box;
    font-family: "IBM Plex Sans KR", sans-serif;
}

main {
    padding-top: 60px;
}
ul {
    padding-left:0;
}

li {
    list-style-type: none;
}

table {
    width: 100%;
    border-collapse: collapse;  
}

th, td {
    height:36px;
    text-align: center;
}

tr {
    border-bottom: 1px solid #e5e5e5;
}

tr:hover{
    background-color: #eee;
}

th {
    background-color: #e5e5e5;
}
a {
    text-decoration-line: none;
    color:#0088ff;
}
form {
    margin:15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
input, select, button {
    margin: 0px 5px;
    height: 30px;
    background: #eee;   
    border: none;
    font-family: "IBM Plex Sans KR", sans-serif;
}

input {
    width: 200px;
    padding-left: 10px;
}

input::placeholder, input:active{
    font-family: "IBM Plex Sans KR", sans-serif;
}

select {
    width: 70px;
    padding-left: 10px;
}

button {
    width: 60px;
    background: #212121;
    color: #fff;
}

canvas {
    padding: 20px 0px;
}