<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>유저 관리</title>
    <style>
        table {
            margin-top:20px;
        }
        ul {
            display:flex;
        }
        li {
            width:2%;
            list-style-type: none;
        }
    </style>
</head>
<body>
    <h1>유저 리스트</h1>
    <form>
        <input placeholder="검색어 입력" name="q" value="{{keyword}}">
        <button type="submit">검색</button>
    </form>
    <a href="/"">초기화</a>
    <table border=1>
        <tr>
            <th>ID</th>
            <th>이름</th>
            <th>성별</th>
            <th>연령</th>
        </tr>
        {% for u in users %}
            <tr>
                <td>{{u.Id}}</td>
                <td>{{u.Name}}</td>
                <td>{{u.Gender}}</td>
                <td>{{u.Age}}</td>
            </tr>
        {% endfor %}
    </table>
    <ul>
        <li><a href="/?page=1">&lt;&lt;</a></li>
        <li><a href="/?page={{liststart}}">&lt;</a></li>
    {% for p in pages %}
        <li><a href="/?page={{p}}">{{p}}</a></li>
    {% endfor %}
        <li><a href="/?page={{liststart + 10}}">&gt;</a></li>
        <li><a href="/?page={{lastpage}}">&gt;&gt;</a></li>
    </ul>
</body>
</html>